.letter {
width: 400px;
height: 450px;
border: 2px solid #808080;
border-radius: 25px;
}

.text-div {
	margin-left: 50px;
	margin-right: 50px;
}

form {
	margin-top: 80px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}

input {

}

.input-group {
	width: 300px;
}
.textarea{
	padding-top: 5px;
}
textarea {
	
padding-left: 10px;
	width: 300px;
}
